body {
  font-family: sans-serif;
  padding-left: 2em;
}

ol li {
  margin-bottom: .3em;
}

button {
  cursor: pointer;
}

.openbutton {
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

dialog::backdrop {
  background: rgba(200, 200, 200, 0.25);
}

.closebutton {
  text-align: right;
}
